<div class="inner cover" id="control3">
<h2>¿Eres mejor que todos estos?</h1>
<p class="lead">¡Puedes demostrar tu habilidad registrandote y jugando!</p>
<p class="lead">
    <a href="#" class="btn btn-lg btn-success" id="enlaceCreacion">Registrate, ¡Es gratis!</a>
</p>
¿Ya has jugado antes? <a href="#" id="enlaceAutenticacion">Autenticate</a>
</div>

<div class="inner cover" id="control2">
    <h2>Tu puntuación</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nivel 1</th>
                    <th>Nivel 2</th>
                    <th>Nivel 3</th>
                    <th>Nivel 4</th>
                    <th>Nivel 5</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Tiempo</th>
                    <td id="score1">?</td>
                    <td id="score2">?</td>
                    <td id="score3">?</td>
                    <td id="score4">?</td>
                    <td id="score5">?</td>
                    <td id="scoretotal">?</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h2>Nuestros mejores jugadores</h2>
<table id="table">
    <thead>
        <tr>
            <th data-field="puesto">Puesto</th>
            <th data-field="nombre">Usuario</th>
            <th data-field="score1">Nivel 1</th>
            <th data-field="score2">Nivel 2</th>
            <th data-field="score3">Nivel 3</th>
            <th data-field="score4">Nivel 4</th>
            <th data-field="score5">Nivel 5</th>
            <th data-field="score">Total</th>
        </tr>
    </thead>
</table>