<img class="imgCenter" src="components/juego/img/logo.gif">
<div id="" style="overflow-y: scroll; height:400px;">
    <h1 class="cover-heading">Metal Pang Super Cat-001</h1>

<blockquote>
  <p>"¡Omoshiroi! Obra maestra, juego hermoso, tenebroso, tenso, angustioso cuento gótico de horror por cuyas arterias y espeluznantes pasillos corren fantasmas de Conrad y Lovecraft. Es el suspense sobrecogedor, el más sobrecogedor de los últimos tiempos." </p>
  <small>Jose María García <cite title="Nombre Apellidos">Futuro investigador</cite></small>
</blockquote>

<blockquote>
  <p>Un clásico incontestable. (...) un título imprescindible del juego español del último medio siglo.</p>
  <small>Iván Vizcaíno <cite title="Nombre Apellidos">Un Almanseño</cite></small>
</blockquote>

<blockquote>
  <p>"Uno de mis juegos favoritos. Qué miedo paso siempre con el bicho. Y, cómo no, me enamoré del gato, ese personaje digno del mejor Dani. Pisto Cowboy bebe de esta obra maestra."</p>
  <small>Cristian Cuerda <cite title="Nombre Apellidos">Gran profesional, mejor persona</cite></small>
</blockquote>


<blockquote>
  <p>"No importa cuantas veces hayas jugado, engancha, aunque no use Haskell".</p>
  <small>Riaza <cite title="Nombre Apellidos">¿Has visto Mátrix?</cite></small>
</blockquote>


<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <small>Un romano <cite title="Nombre Apellidos">de roma</cite></small>
</blockquote>
</div>