<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>Metal Pang Super Cat-001 </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/png" href="components/inicio/img/favicon.png" />
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">
	<link href="components/inicio/css/cover.css" rel="stylesheet">
	<link href="components/inicio/css/style.css" rel="stylesheet">
</head>

<body>
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<div class="masthead clearfix">
					<div class="inner">
						<h3 class="masthead-brand"><a href="/"><img id="logo" src="/components/inicio/img/metalPangLogo.png"></a></h3>
						</div>
						<div class="inner">
						<nav>
							<ul class="nav masthead-nav">
								<li class="active enlaceCreacion"><a href="#">Registrarse</a></li>
								<li class="enlaceAutenticacion"><a href="#">Autenticarse</a></li>
								<li class="enlaceEdicion" style="display:none"> <a href="#">Editar Cuenta</a></li>
								<li class="enlaceEstadistica"><a href="#" >Estadísticas</a></li>
								<li class="enlaceInfo"><a href="#">Info</a></li>
								<li class="enlaceLogout" style="display:none"><a href="#">Logout</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="cover" id="status"></div>
				<div class="inner cover" id="control">
					Loading...
				</div>
				<div class="mastfoot">
					<div class="inner">
						<p>Desarrollado por <a href="https://github.com/ecdani">Daniel Espinosa</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script> -->

	
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/locale/bootstrap-table-es-ES.min.js"></script>

	<script type="text/javascript" src="lib/phaser.min.js"></script>
	<script type="text/javascript" src="components/inicio/inicio.js"></script>
	<script type="text/javascript" src="components/usuario/autenticarse.js"></script>
</body>

</html>